API_ID=20899529
API_HASH=0297693c81aac01b704702f334decddd
BOT_TOKEN=7869388938:AAHUtK3EZFrhrisPCmR43-zajU1bYVqYVh4
OWNER_ID=8002803133
MONGO_URI=mongodb+srv://sakshamranjan7:8wBCaYilCTlgdNV3@cluster0.h184m7m.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
